
@{
    ViewBag.Title = "LibHub";
    Layout = "~/Views/Shared/dLayout.cshtml";
}

<h2>LibHub</h2>


<!-- Tab Navigation -->
<ul class="nav nav-tabs" id="bookTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="allborrowed-tab" data-toggle="tab" href="#allborrowed" role="tab">All Borrowed Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="awaitingcollection-tab" data-toggle="tab" href="#awaitingcollection" role="tab">Awaiting Collection</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="awaitingdelivery-tab" data-toggle="tab" href="#awaitingdelivery" role="tab">Awaiting Delivery</a>
    </li>
</ul>

<!-- Tab Content -->
<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="allborrowed" role="tabpanel">
        @Html.Partial("_AllBorrowedBooks")
    </div>
    <div class="tab-pane fade" id="awaitingcollection" role="tabpanel">
        @Html.Partial("_AwaitingCollection")
    </div>
    <div class="tab-pane fade" id="awaitingdelivery" role="tabpanel">
        @Html.Partial("_AwaitingDelivery")
    </div>
</div>
