
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/dLayout.cshtml";

}

<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/Content/themes/base/images/thank-you.png" width="215" height="215" />

    <br />

    <h2>Thank You</h2>
    <h7>
        Your Donations Are Much Appreciated<br />
        You Should Receive a confirmation of The Donation Via Email
    </h7>


    <div class="button">
        <a class="btn" href="@Url.Action("HRC","Home")">Home</a>
    </div>

</center>

<br />
<br />
<br />
<br />
<br />

