@model ChurchSystem.Models.StudentQuizResult


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/dLayout.cshtml";
}

<h2>Quiz Review</h2>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/dLayout.cshtml";
}


<p>Quiz Title: @Model.Quiz.Title</p>
<p>Your Score: @Model.Score</p>

@section scripts{
    
    
    
    
}